--------- OG APK PACKAGEBUILDER TEAM------------

Kaarle Ritvanen <kunkku@alpinelinux.org> <kaarle.ritvanen@datakunkku.fi>

----JaguarLinux Package Builder----------
TigerClips1 <tigerclips1@ps4jaguarlinux.com>